html, body {
  background-color: black;
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  cursor:  url("cursor.cur") 25 25, pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*

	.icons {
	    position: absolute;

	    transform: translate(-0%, -0%);

	    width: 100%;
	    height: 100%;
	}

	.tri-1-1 {
		position: absolute;
		transform: translate(0%, -0%);
		width: 10%;
		transition: 0.5s linear;

		clip-path: polygon(50% 0%, 0 94.7%, 100% 94.7%);
		-webkit-clip-path: polygon(50% 0%, 0 94.7%, 100% 94.7%);
	}
	.tri-1-2 {
		position: absolute;
		transform: translate(0%, 0%);
		width: 10%;
		transition: 0.5s linear;

		clip-path: polygon(50% 0%, 0 94.7%, 100% 94.7%);
		-webkit-clip-path: polygon(50% 0%, 0 94.7%, 100% 94.7%);
	}
	.tri-1-3 {
		position: absolute;
		transform: translate(0%, 0%);
		width: 10%;
		transition: 0.5s linear;

		clip-path: polygon(50% 0%, 0 94.7%, 100% 94.7%);
		-webkit-clip-path: polygon(50% 0%, 0 94.7%, 100% 94.7%);
	}


	.tri-2-1 {
		position: absolute;
		transform: translate(-0%, -0%);
		width: 10%;
		transition: 0.5s linear;

		clip-path: polygon(50% 0%, 0 94.7%, 100% 94.7%);
		-webkit-clip-path: polygon(50% 0%, 0 94.7%, 100% 94.7%);
	}
	.tri-2-2 {
		position: absolute;
		transform: translate(0%, 0%);
		width: 10%;
		transition: 0.5s linear;

		clip-path: polygon(50% 0%, 0 94.7%, 100% 94.7%);
		-webkit-clip-path: polygon(50% 0%, 0 94.7%, 100% 94.7%);
	}
	.tri-2-3 {
		position: absolute;
		transform: translate(0%, 0%);
		width: 10%;
		transition: 0.5s linear;

		clip-path: polygon(50% 0%, 0 94.7%, 100% 94.7%);
		-webkit-clip-path: polygon(50% 0%, 0 94.7%, 100% 94.7%);
	}


	.tri-3-1 {
		position: absolute;
		transform: translate(0%, 0%);
		width: 10%;
		transition: 0.5s linear;

		clip-path: polygon(50% 0%, 0 94.7%, 100% 94.7%);
		-webkit-clip-path: polygon(50% 0%, 0 94.7%, 100% 94.7%);
	}
	.tri-3-2 {
		position: absolute;
		transform: translate(0%, 0%);
		width: 10%;
		transition: 0.5s linear;

		clip-path: polygon(50% 0%, 0 94.7%, 100% 94.7%);
		-webkit-clip-path: polygon(50% 0%, 0 94.7%, 100% 94.7%);
	}
	.tri-3-3 {
		position: absolute;
		transform: translate(0%, 0%);
		width: 10%;
		transition: 0.5s linear;

		clip-path: polygon(50% 0%, 0 94.7%, 100% 94.7%);
		-webkit-clip-path: polygon(50% 0%, 0 94.7%, 100% 94.7%);
	}

*/

.temp{
	font-size: 20px;
	position: absolute;
	padding:0;
	bottom:5%;
	left: 30%;
	color: white;
	pointer-events: none;
}

#corners{
	position: absolute;
	width: 100%;
	height: 100%;
	
}

#corners img {
    height: 28%;
    width: auto;
	position: absolute;
	pointer-events: none;

}

.topleft {
	top: 0px;
	left: 0px;
}

.topright {
	top: 0px;
	right: 0px;
}

.bottomleft {
	bottom: 0px;
	left: 0px;
}

.bottomright {
	bottom: 0px;
	right: 0px;
}

/*
.topleft:hover {
	filter: invert(100%);
}

.topright:hover {
	filter: invert(100%);
}

.bottomleft:hover {
	filter: invert(100%);
}

.bottomright:hover {
	filter: invert(100%);
}
*/


.l_tri {
	margin:auto;
	width: 12%;
	height: auto;
	position: fixed;
	top: 0; left: -1%; bottom: 0; right: 88.4%;
	transform: rotate(90deg);
}

.r_tri {
	margin:auto;
	width: 12%;
	height: auto;
	position: fixed;
	top: 0; left: 88.8%; bottom: 0; right: 0;
	transform: rotate(270deg);
}


#triangles{
	width:60%;
	margin: 0 auto;
	display: flex;
  	flex-direction: column;
}

.triangles img {
	max-height: 100%;
	max-width: 100%;
	transition: 0.3s;
}

#top-row, #mid-row, #bottom-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 3.4%
}

.main_tri {
	z-index: 100;
	width: 20%;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: -5%;
	transition: 0.3s;

	-webkit-clip-path: polygon(0% 93%, 50% 6%, 54% 13%, 100% 93%);
	clip-path: polygon(0% 93%, 50% 6%, 54% 13%, 100% 93%);
}

.tri {
	width: 20%;
	display: flex;
	flex-direction: column;
	text-align: center;
	transform: rotate(180deg);
	margin: -5%;
	transition: 0.3s;

	-webkit-clip-path: polygon(0% 93%, 50% 6%, 54% 13%, 100% 93%);
	clip-path: polygon(0% 93%, 50% 6%, 54% 13%, 100% 93%);
}

.start_tri_l {
	width: 20%;
	display: flex;
	flex-direction: column;
	text-align: center;
	transform: translateX(50%);
	margin: -5%;
	transition: 0.3s;

	-webkit-clip-path: polygon(0% 93%, 50% 6%, 54% 13%, 100% 93%);
	clip-path: polygon(0% 93%, 50% 6%, 54% 13%, 100% 93%);
}

.start_tri_r {
	width: 20%;
	display: flex;
	flex-direction: column;
	text-align: center;
	transform: translateX(-50%);
	margin: -5%;
	transition: 0.3s;

	-webkit-clip-path: polygon(0% 93%, 50% 6%, 54% 13%, 100% 93%);
	clip-path: polygon(0% 93%, 50% 6%, 54% 13%, 100% 93%);
}

.start_tri_bottom {
	width: 20%;
	display: flex;
	flex-direction: column;
	text-align: center;
	transform: translateY(-86%);
	margin: -5%;
	transition: 0.3s;

	-webkit-clip-path: polygon(0% 93%, 50% 6%, 54% 13%, 100% 93%);
	clip-path: polygon(0% 93%, 50% 6%, 54% 13%, 100% 93%);
}

.tri:hover {
	filter: invert(100%);
	transition: 0.3s;
}
.main_tri:hover {
	filter: invert(100%);
	transition: 0.3s;
}
.r_tri:hover {
	filter: invert(100%);
	transition: 0.3s;
}
.l_tri:hover {
	filter: invert(100%);
	transition: 0.3s;
}



@media only screen and (max-width:768px) {
  /* For mobile phones: */
  #triangles {
    width:100%;
  }
  .l_tri {
    transform: rotate(180deg);
    bottom: 87.7%;
    right: 0%;
    height: 12.2%;
    width: auto;
  }
  .r_tri {
    transform: rotate(0deg);
    top: 87.7%;
    left: 0%;
    height: 12.2%;
    width: auto;
  }
  #corners img {
  	width: 25%;
  	height: auto;
  }
}


