html, body {
  background-color: black;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  cursor:  url("cursor.cur") 25 25, pointer;
}

.temp{
	font-size: 20px;
	position: absolute;
	padding:0;
	bottom:5%;
	left: 30%;
	color: white;
}

.logo {
	position: absolute;
	top: 3%;
	margin: auto;
	padding:0;
	left: 0;
	right: 0;
	height:20%;
	z-index:100;
}

.logo:hover {
	filter: invert(100%);
}

#shape-container {
	position: relative;
	margin: auto;
	padding:0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.tri {
	position: absolute;
	margin: auto;
	z-index: 0;
	max-width: 100px;
	position: relative;
	object-fit: cover;
	transition: 0.2s linear;
}

.tri:hover {filter: invert(100%);}

.icons {
 	position: absolute;
 	top: 66.7108753%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.tri-1-1 {
	position: absolute;
	transform: translate(0px, 435px);
	width: 100px;
	transition: 0.5s linear;

	clip-path: polygon(50% 0%, 0 95.7%, 100% 95.7%);
	-webkit-clip-path: polygon(50% 0%, 0 95.7%, 100% 95.7%);
}
.tri-1-2 {
	position: absolute;
	transform: translate(0px, 435px);
	width: 100px;
	transition: 0.5s linear;

	clip-path: polygon(50% 0%, 0 95.7%, 100% 95.7%);
	-webkit-clip-path: polygon(50% 0%, 0 95.7%, 100% 95.7%);
}
.tri-1-3 {
	position: absolute;
	transform: translate(0px, 435px);
	width: 100px;
	transition: 0.5s linear;

	clip-path: polygon(50% 0%, 0 95.7%, 100% 95.7%);
	-webkit-clip-path: polygon(50% 0%, 0 95.7%, 100% 95.7%);
}


.tri-2-1 {
	position: absolute;
	transform: translate(-50px, 348.65px);
	width: 100px;
	transition: 0.5s linear;

	clip-path: polygon(50% 0%, 0 95.7%, 100% 95.7%);
	-webkit-clip-path: polygon(50% 0%, 0 95.7%, 100% 95.7%);
}
.tri-2-2 {
	position: absolute;
	transform: translate(-50px, 348.65px);
	width: 100px;
	transition: 0.5s linear;

	clip-path: polygon(50% 0%, 0 95.7%, 100% 95.7%);
	-webkit-clip-path: polygon(50% 0%, 0 95.7%, 100% 95.7%);
}
.tri-2-3 {
	position: absolute;
	transform: translate(-50px, 348.65px);
	width: 100px;
	transition: 0.5s linear;

	clip-path: polygon(50% 0%, 0 95.7%, 100% 95.7%);
	-webkit-clip-path: polygon(50% 0%, 0 95.7%, 100% 95.7%);
}


.tri-3-1 {
	position: absolute;
	transform: translate(50px, 348.65px);
	width: 100px;
	transition: 0.5s linear;

	clip-path: polygon(50% 0%, 0 95.7%, 100% 95.7%);
	-webkit-clip-path: polygon(50% 0%, 0 95.7%, 100% 95.7%);
}
.tri-3-2 {
	position: absolute;
	transform: translate(50px, 348.65px);
	width: 100px;
	transition: 0.5s linear;

	clip-path: polygon(50% 0%, 0 95.7%, 100% 95.7%);
	-webkit-clip-path: polygon(50% 0%, 0 95.7%, 100% 95.7%);
}
.tri-3-3 {
	position: absolute;
	transform: translate(50px, 348.65px);
	width: 100px;
	transition: 0.5s linear;

	clip-path: polygon(50% 0%, 0 95.7%, 100% 95.7%);
	-webkit-clip-path: polygon(50% 0%, 0 95.7%, 100% 95.7%);
}

#corners{
	position: absolute;
	width: 100%;
	height: 100%;
}

#corners img {
	height: 25%;
	position: absolute;
	z-index:100;
}

.topleft {
	top: 0px;
	left: 0px;
}

.topleft:hover {
	filter: invert(100%);
}

.topright {
	top: 0px;
	right: 0px;
}

.topright:hover {
	filter: invert(100%);
}

.bottomleft {
	bottom: 0px;
	left: 0px;
}

.bottomleft:hover {
	filter: invert(100%);
}

.bottomright {
	bottom: 0px;
	right: 0px;
}

.bottomright:hover {
	filter: invert(100%);
}